/* Override here any style defined by web-app-theme */

body {
	font-size: 1.2em;
}

#container {
	min-width: 800px;
}

#wrapper {
	width: 800px;
    margin: 0 auto;
}

#main {
	width: 100%;
}

#header h1 {
	padding: 20px;
}

#helper-links {
	margin: 10px 0px;
	overflow: hidden;
}

#helper-links a {
	float: right;
	padding: 0px 10px;
	text-decoration: underline;
}

#helper-links a:hover {
	text-decoration: none;
}

#user-navigation {
	position: relative;
	right: 0;
	float: right;
}
	
#user-navigation ul {
	margin-top: 20px;
}

#user-navigation ul li a {
	padding: 3px;
	font-size: 1.2em;
}

#user-navigation ul li a:link, #user-navigation ul li a:visited {
	color: #8899AA;
}

.form input.text_field {
	padding: 5px;
	border-radius: 5px;
}

.form .navform {
	background-color: #FFF;
	border: none;
}

#main .block .content .inner {
	padding: 20px;
}

#main .block .content .inner td {
	text-align: center;
	padding: 5px;
}

.content h2 {
	text-align: center;
    border-bottom: 4px solid #334455;
    padding-bottom: 10px;
}